* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

main {
    display: grid;
}

hr {
    max-width: 70px;
    border-color: var(--secondary-color);
}

:root {
    --primary-color: #DEBC42;
    --secondary-color: #F9EB9A;
    --black-color: rgba(0, 0, 0, 0.8);
    --gray-color: gray;
    --box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
}

/* #region -- Header style -- */

.header-gallery {
    text-align: center;
}

/* #endregion -- Header style -- */

/* #region -- Gallery style -- */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    max-width: 100vh;
    margin: 0 auto;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

.img1 {
    grid-column: span 2;
    grid-row: span 2;
    max-height: 470px;
}

.img2 {
    grid-column: span 1;
    grid-row: span 1;
}

.img3 {
    grid-column: span 1;
    grid-row: span 1;
}

.img4 {
    grid-column: span 1;
    grid-row: span 1;
}

.img5 {
    grid-column: span 1;
    grid-row: span 1;
}

.img6 {
    grid-column: span 1;
    grid-row: span 1;
}

.img7 {
    grid-column: span 1;
    grid-row: span 1;
}

.img8 {
    grid-column: span 2;
    grid-row: span 1;
    max-height: 200px;
}

/* #endregion -- Gallery style -- */

/* #region -- About Us style -- */

.aboutus {
    margin: 0 auto;
    padding: 20px;
    max-width: 100vh;
}

.section-heading h1 {
    text-align: center;
}

.section-heading hr {
    text-align: center;
    margin-bottom: 40px;
}

.aboutus-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.aboutus-item:last-child {
    margin-bottom: 0;
}

.aboutus-img img {
    max-height: 300px;
    max-width: 400px;
    flex: 1;
    box-shadow: var(--box-shadow);
}

.aboutus-description-left {
    flex: 1;
    margin-left: 30px;
}

.aboutus-description-right {
    flex: 1;
    margin-right: 30px;
}


/* #endregion --  About Us style -- */

/* #region -- Media Querys -- */

@media (max-width: 768px) {
    .header-gallery p {
        max-width: 100vh;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(0, 1fr));
        max-height: 100vh;
    }

    .img1 {
        grid-column: span 2;
        grid-row: span 1;
        max-height: auto;
    }

    .img8 {
        grid-column: span 2;
        grid-row: span 1;
        max-height: auto;
    }

    .aboutus-item {
        flex-direction: column;
    }

    .aboutus-img {
        margin-top: 20px;
        order: 1;
    }

    .aboutus-description {
        margin: 0;
        order: 2;
    }

    .aboutus-description-left {
        flex: 1;
        margin-left: 0px;
    }

    .aboutus-description-right {
        flex: 1;
        margin-right: 0px;
    }

    .ourvalues {
        margin-bottom: 70px;
    }
}

@media (max-width: 430px) {
    .navbar-top nav {
        height: 60px;
    }

    .navbar-top .brand {
        font-size: 1.5em;
        padding: 5px 0;
    }

    .navbar-top ul li {
        margin: 0 25px;
    }

    .navbar-top ul li a {
        font-size: 1em;
        padding: 3px 15px;
    }

    .header-gallery p {
        font-size: 0.9em;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(0, 1fr));
        max-height: 100%;
        padding: 10px;
    }

    .img1,
    .img8 {
        grid-column: span 2;
        grid-row: span 1;
        max-height: 100px;
    }

    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7 {
        grid-column: span 1;
        grid-row: span 1;
        max-height: 100px;
    }

    .aboutus {
        max-width: 100%;
        padding: 10px;
    }

    .aboutus-img img {
        max-height: 200px;
        max-width: 300px;
    }

    .footer-quick-links ul {
        padding-left: 0;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-quick-links ul li {
        padding: 0 10px;
    }

    .footer-logo img {
        width: 100px;
        height: auto;
    }

    .footer-logo-message-container p {
        font-size: 0.7rem;
    }

    .footer-social-links ul {
        padding-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-social-links ul li {
        font-size: 1.3rem;
        padding: 0 0.5rem;
    }
}

/* #endregion -- Media Querys -- */