* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  main
  {
    height: 75vh;
  }
    
  
  .your-cart
  {
    position: absolute;
    top: 10000;
  
  }
  .cart-checkout-container
  {
    display: flex;
    justify-content: center;
  }
  
  
  .cart-page
  {
    margin-left: 10rem;
    margin-right: 6rem;
    flex-grow: 4;
    width: 100%;
    max-height: 569px
  }
  
  .cart-table
  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 569px;
  }
  
  .cart-table::-webkit-scrollbar
  {
    width: 3px;
  }
  
  .cart-table::-webkit-scrollbar-track
  {
    background: transparent;
  }
  
  .cart-table::-webkit-scrollbar-thumb
  {
    background: #DEBC42;
  }
  
  .cart-table::-webkit-scrollbar-corner
  {
    background: transparent;
  }
  
  .cart-table::-webkit-scrollbar-track-piece
  {
    background: transparent;
  }
  
  
  
  table
  {
    width: 100%;
    border-collapse: collapse;
    max-height: 514px;
  }
  
  
  
  .cart-info
  {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 60%;
  }
  
  th 
  {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #DEBC42;
    font-weight: normal;
  }
  
  td
  {
    padding: 10px 5px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td input 
  
  td a 
  {
    color: #DEBC42;
    font-size: 12px;
  }
  
  td img 
  {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .quantity button
  {
    width: 25px;
    height: 25px;
    background: #DEBC42;
    border: none;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    border-radius: 7px;
    cursor: pointer;
  }
  
  
  .quantity button:hover {
    background-color: #f9eb9a;
  }
  
  .cart-info p
  {
    margin-top: 20px;
    color: #000000;
    font-weight: bold;
  }
  
  .cart-info h1 
  {
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cart-info small
  {
    color: #999;
  }
  
  .fa-regular 
  {
    color: #000000;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .fa-regular:hover
  {
    color: #DEBC42;
  }
  
  
  
  .checkout
  {
    float: right;
    width: 40%;
    margin-top: 20px;
  }
  
  
  hr 
  {
    border: 0.1px solid #DEBC42;
    margin-bottom: 1rem;
    opacity: 0.5;
  }
  
  
  
  .checkout
  {
    flex-grow: 1;
    margin-left: 2rem;
    margin-right: 5rem;
    margin-bottom: 12rem;
    background-color: #f9eb9a62;
    border-radius: 15px;
  
  }
  
  .coupon-code
  {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .coupon-code p
  {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  
  .coupon-code input
  {
    width: 60%;
    height: 2rem;
    border: 1px solid #DEBC42;
    border-radius: 5px;
    padding-left: 0.5rem;
  }
  
  .coupon-code button
  {
    width: 30%;
    height: 2rem;
    border: 1px solid #DEBC42;
    border-radius: 5px;
    background-color: #DEBC42;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .coupon-code button:hover
  {
    background-color: #f9eb9a;
  }
  
  .total-price 
  {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .total-price table{
    width: 100%;
    border-collapse: collapse;
  }
  
  .total-price table tr td
  {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .total-price table tr td:first-child
  {
    text-align: left;
  }
  
  .total-price table tr td:last-child
  {
    text-align: right;
  }
  
  .purchase-button 
  {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  
  .purchase-button button
  {
    width: 100%;
    height: 2.4rem;
    border: 1px solid #DEBC42;
    border-radius: 5px;
    background-color: #DEBC42;
    color: #000000;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .purchase-button button:hover
  {
    background-color: #f9eb9a;
  }
  
  .payment-options
  {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .payment-options ul
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  
  .payment-options ul li
  {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  .payment-options ul li i
  {
    font-size: 1.6rem;
    color: #000000;
    transition: color 0.3s ease;
  }
  
  .payment-options ul li i:hover
  {
    color: #DEBC42;
  }
  
  
  @media screen and (max-width: 1098px) {

   
    .cart-checkout-container {
      flex-direction: column;
      margin-top: 2rem;
      max-width: 100vh;
  }
  
  .cart-page
  {
    margin-top: 1rem;
    margin-bottom: 2rem;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    max-width: 50vh;
  }
  
  .cart-page h1 
  {
    text-align: center;
  }
  
  .cart-table
  {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }
  
  .cart-table table 
  {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5rem;
    max-height: 520px;
    height: 520px;
    overflow-y: scroll;
  }
  
  .cart-table table tr
  {
  height: 30px;
  
  }
  
  .cart-table table tr td
  {
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
  
  }
  
  .cart-table .quantity
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }l
  
  .cart-table .quantity input
  {
    width: 40%;
    height: 2rem;
    border-radius: 5px;
    padding-left: 0.2rem;
  }
  
  .cart-table .fa-regular 
  {
    color: #000000;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1rem;
  }
  
  .checkout
  {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 7rem;
    margin-top: 3rem;
    align-self: center;
    width: 70%;
    height: auto;
    padding-bottom: 1rem;
  }
  
  .coupon-code
  {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .coupon-code input
  {
    padding-right: 0.5rem;
  }
  }