* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}


/* #endregion */

:root {
  --primary-color: #dabb43;
  --black-color: rgba(0, 0, 0, 0.8);
  --gray-color: gray;
  --box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
}

.carousel-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--black-color);
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#info-title {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}

#info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#form {
  margin-left: -10px;
  margin-right: 200px;
}

#form label {
  margin-bottom: 5px;
}

input {
  color: #242424;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
  width: 400px;
}

input::placeholder {
  color: var(--gray-color);
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  width: 400px;
  border: 1px solid;
  resize: none;
  box-shadow: var(--box-shadow);
}

textarea::placeholder {
  color: var(--gray-color);
}

#map {
  margin-bottom: 15px;
  flex-basis: 250px;
  box-shadow: var(--box-shadow);
}

.button-container {
  margin-top: 15px;
  text-align: center;
}

.send {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  background-color: var(--primary-color);
  width: 75px;
  height: 40px;
  box-shadow: var(--box-shadow);
  margin-top: 5px;
  cursor: pointer;
}

.send:hover {
  border-color: #fff3c8;
}

#staff-title {
  margin-top: 75px;
  margin-bottom: 75px;
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.staff::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/4.png);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: bottom;
  opacity: 0.2;
  z-index: -1;
}

.staff-container {
  display: flex;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.user-info {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 300px;
}

.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.userName {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.contactButton {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--primary-color);
  width: 150px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 125px;
  box-shadow: var(--box-shadow);
}

.contactButton:hover {
  border-color: black;
}

.role {
  color: grey;
}

@media (max-width: 1230px) {
  #info {
    flex-direction: column;
    align-items: center;
  }

  #form,
  #map {
    margin: 0;
  }

  #map {
    margin-top: 15px;
  }

  #button-container {
    margin-top: 30px;
  }

  .staff::after {
    background-size: 40%;
  }

  .user-info {
    margin-left: 0;
    margin-right: 0;
  }

  .send{
    margin-top: 40px;
    color: var(--black-color);
  }

  .contactButton {
    color: var(--black-color);
    margin-bottom: 30px;
  }

  #staff-title {
    text-align: center;
    margin: 20px;
  }
}

@media (max-width: 600px) {
  .prev,
  .next {
    font-size: 11px;
  }

  .staff-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .user-info {
    max-width: 200px;

  }

  input,
  textarea {
    text-align: left;
    width: 350px;
    margin-bottom: 5px;
  }

  #map,
  iframe {
    width: 350px;
    height: 250px;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #button-container {
    margin-top: 75px;
    text-align: center;
  }
}