* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

/* #region -- Carousel style -- */

.carousel-container {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: -15px;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--black-color);
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* #endregion -- Carousel style -- */

/* #region -- Contact Us style -- */

.info-title {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
  text-shadow: 3px 3px 10px #b3acac;
}

.info {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form label {
  margin-bottom: 5px;
}

input {
  color: var(--black-color);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
  width: 400px;
}

input::placeholder {
  color: var(--gray-color);
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  width: 400px;
  border: 1px solid;
  resize: none;
  box-shadow: var(--box-shadow);
}

textarea::placeholder {
  color: var(--gray-color);
  padding: 5px;
}

.map {
  width: 400px;
  height: 430px;
  box-shadow: var(--box-shadow);
}

.send {
  width: 75px;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.send:hover {
  background-color: var(--secondary-color);
}

/* #endregion -- Contact Us style -- */

/* #region -- Staff style -- */

.staff-title {
  margin-top: 100px;
  margin-bottom: 75px;
  text-align: center;
  text-shadow: 3px 3px 10px #b3acac;
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.staff::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/4.png);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: bottom;
  opacity: 0.2;
  z-index: -1;
}

.staff-container {
  display: flex;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.user-info {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 300px;
}

.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.userName {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.contactButton {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  padding: 0.6em 1.2em;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--primary-color);
  width: 150px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 125px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: var(--secondary-color);
}

.role {
  color: grey;
}

/* #endregion -- Staff style -- */

/* #region -- Media Querys -- */

@media (max-width: 1230px) {
  .info {
    flex-direction: column;
    align-items: center;
  }

  .form,
  .map {
    margin: 0;
  }

  .map {
    margin-top: 15px;
  }

  .staff::after {
    background-size: 40%;
  }

  .staff h1{
    text-align: center;
  }

  .user-info {
    margin-left: 0;
    margin-right: 0;
  }

  .contactButton {
    color: var(--black-color);
    margin-bottom: 30px;
  }

  .staff-title{
    text-align: center;
    margin: 20px;
  }
}

@media (max-width: 600px) {
  .prev,
  .next {
    font-size: 11px;
  }

  .staff-title{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
  }

  .staff-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .user-info {
    max-width: 200px;

  }

  input,
  textarea {
    text-align: left;
    width: 350px;
    margin-bottom: 5px;
  }

  .map,
  iframe {
    width: 350px;
    height: 250px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* #endregion -- Media Querys -- */