/* #region reset */

html, body, div, span, applet, object, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion */

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 350px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.carousel img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1.7s ease-in-out;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
  z-index: 2;
}

.next-btn {
  right: 10px;
  z-index: 2;
}

#button-container 
{
  margin-top: 15px;
  text-align: center;
}

#send 
{
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  background-color: #dabb43;
  width: 75px;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#send:hover 
{
  border-color: black;
}

.logo 
{
  display: flex;
  justify-content: center;
}

#logo 
{
  width: 30%;
  height: 30%;
}

#info 
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#form 
{
  margin-right: 100px;
}

#form label 
{
  margin-bottom: 5px;
}

#map 
{
  margin-left: 200px;
  margin-bottom: 15px;
  flex-basis: 250px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#info-title 
{
  text-align: center;
  margin-bottom: 50px;
}

#contact-title 
{
  margin-top: 75px;
  margin-bottom: 75px;
}

.contactos 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.contactos::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/4.png);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: bottom;
  opacity: 0.2;
  z-index: -1;
}

.users-container 
{
  display: flex;
  justify-content: center;
}

.user 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.user-info 
{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 200px;
}

.user-info img 
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

.userName 
{
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.contactButton 
{
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #dabb43;
  width: 150px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 125px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.contactButton:hover 
{
  border-color: black;
}

.role 
{
  color: grey;
}

input 
{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 450px;
}

input::placeholder 
{
  color: gray;
}

textarea 
{
  width: 450px;
  border: 1px solid;
  resize: none;
  font-family: 'Montserrat', sans-serif;
}

textarea::placeholder 
{
  color: gray;
}



@media (max-width: 1230px) 
{
  #info {
    flex-direction: column;
    align-items: center;
  }

  #form,
  #map {
    margin: 0;
  }

  #map {
    margin-top: 15px;
  }

  #button-container {
    margin-top: 30px;
  }

  .contactos::after {
    background-size: 40%;
  }

  .user-info {
    margin-left: 0;
    margin-right: 0;
  }

  .contactButton {
    margin-bottom: 30px;
  }

  #contact-title
  {
    text-align: center;
  }
}


@media (max-width: 480px) 
{
  .users-container {
    flex-direction: column;
    align-items: center;
  }

  input,
  textarea {
    text-align: center;
    width: 350px;
    margin-bottom: 5px;
  }

  #map, iframe {
    width: 350px;
    height: 250px;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #button-container {
    margin-top: 75px;
    text-align: center;
  }
}