/* #region cssReset */

*{
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
}

/* #endregion */

:root{
  --color-icons: #111827;
} 

*{
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  height: 70px;
  background-color: rgb(182, 177, 165);
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 20px;
}

#logo {
  height: 150px;
  margin-top: -40px; /* Ajuste a margem superior para centralizar o logo verticalmente */
}

.logo {
  align-self: flex-start;
  gap: 20px;
  display: inline-flex;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-container{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

#search-icon:visited{
  text-decoration:none;
  color: var(--font-icons);
}

#search-icon:hover{
  color: #cbd5e1;
}

.input-search{
  margin-left: 100px;
  margin-right: 100px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #95979c;
  border-radius: 1px;
}

.input-search:active{
  background-color: #cbd5e1;
  outline: none;
}

.input-search:hover{
  	background-color: #f1f1f1;
    border-radius: 2px;
    transition: 0.5s;
}

.input-search:focus{
  background-color: #f1f1f1;
  border-radius: 2px;
  outline: none;
}

.cartGo{
  display: flex;
  background-color: #fcd34d;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 25px;
  box-shadow: 2px 2px #b9b9b9;
}

.cartGo p{
  margin: 5px;
}
