* {
  font-family: 'Montserrat', sans-serif;
}

body{

}

main{
  display: grid;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.img1 {
  grid-column: span 2;
  grid-row: span 2;
}

.img2 {
  grid-column: span 1;
  grid-row: span 1;
}

.img3 {
  grid-column: span 1;
  grid-row: span 1;
}

.img4 {
  grid-column: span 1;
  grid-row: span 1;
}

.img5 {
  grid-column: span 1;
  grid-row: span 1;
}

.img6 {
  grid-column: span 1;
  grid-row: span 1;
}

.img7 {
  grid-column: span 1;
  grid-row: span 1;
}

.img8 {
  grid-column: span 2;
  grid-row: span 1;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .img1 {
    grid-column: span 2;
    grid-row: span 2;
  }
}