:root {
    --primary-color: #DEBC42;
    --secondary-color: #F9EB9A;
    --black-color: rgba(0, 0, 0, 0.8);
    --gray-color: gray;
    --box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    --box-shadow-two: 5px 5px 10px 0px rgb(131, 131, 131);
}